# Auto detect text files and perform LF normalization
* text=auto

# JS and JSON files
*.js text
*.json text

# CSS files
*.css text

# HTML files
*.html text
*.ejs text

# Markdown files
*.md text

# Images should be treated as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Fonts
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore
.github export-ignore

# Linguist language overrides
*.ejs linguist-language=HTML