/* إلغاء تأثير الخط المتموج */
.placeholder-wave {
  mask-image: none !important;
  animation: none !important;
}

/* إلغاء تأثير الخط المتموج في SweetAlert2 */
.swal2-container .placeholder-wave {
  mask-image: none !important;
  animation: none !important;
}

/* إلغاء تأثير الخط المتموج في Bootstrap */
.placeholder-wave .placeholder {
  mask-image: none !important;
  animation: none !important;
}
