/* Remove wave effect */
.placeholder-wave {
  mask-image: none !important;
  animation: none !important;
}

/* Remove wave effect in SweetAlert2 */
.swal2-container .placeholder-wave {
  mask-image: none !important;
  animation: none !important;
}

/* Remove wave effect in Bootstrap */
.placeholder-wave .placeholder {
  mask-image: none !important;
  animation: none !important;
}
